dl.bibtex_references,ul.bibtex_references {
    padding-bottom:1.5em;
    padding-top:0px;
}
dl.bibtex_references dt {
    float:left;
    margin-right:5px;
}
dl.bibtex_references dd {
    margin-left:3em;
    margin-bottom:1ex;
}
ul.bibtex_references {
    display:inline;
}
ul.bibtex_references li {
    padding-left:0ex;
    text-indent:-3ex;
    list-style:none inside;
    margin-bottom:1em;
}

a.bibtex_citekey span {
    display: none;
    visibility:hidden;
}

.insitu-bibtexref {
    max-width: 25em;
    min-width: 5em;
}

.JSbibtexref {
    background: #ffffdd;
    border: 1px solid #aaaaaa;
    box-shadow: .1em .1em .1em #cccccc;
    border-radius: 2px;
    padding: .3em .5em;
    font-size: .9em;
}
